html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	background-color: rgb(242, 242, 242);
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: auto;
	-webkit-box-shadow: 0 0 25px -5px grey;
	        box-shadow: 0 0 25px -5px grey;
}

/* Стили Header и Навигации */

.main-header {
	background-color: rgb(255, 255, 255);
}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 72px;
	position: relative;
}

.main-header-logo {
	position: absolute;
	left: 530px;
	top: -1px;
	width: 140px;
	height: 71px;
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 700;
	line-height: 26px;
	margin: 0;
	padding: 0;
	color: rgb(118, 99, 87);
	list-style: none;
}

.navigation-item {
	width: 240px;
	padding: 15px 0;
}

.navigation-item:nth-of-type(2),
.navigation-item:nth-of-type(3) {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.navigation-item:nth-of-type(3),
.navigation-item:nth-of-type(4) {
	text-align: right;
}

.navigation-item a {
	color: rgb(0, 0, 0);
}

.navigation-item a:hover,
.navigation-item a:focus {
	color: rgb(129, 179, 210);
}

.navigation-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Главные блоки */

.welcome .welcome-bg {
	width: 1200px;
	height: 508px;
	background-image: url("../img/polygon.svg"), url("../img/welcome.svg"), url("../img/background.jpg");
	background-position: 0px 450px, 370px 76px, center -56px;
	background-size: 1200px 59px, 459px 353px, 100%;
	background-repeat: no-repeat;
	background-color: rgb(100, 120, 136);
}

.welcome .text-block {
	padding-top: 61px;
	padding-bottom: 50px;
  padding-left: 355px;
  padding-right: 356px;
	background-color: rgb(255, 255, 255);
}

.welcome p {
	line-height: 26px;
	text-align: center;
	color: rgb(51, 51, 51);
	margin: 0px;
}

.welcome .title {
	font-size: 21px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	margin-bottom: 27px;
}

.description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.description-text {
	width: 400px;
	padding: 47px;
	background-color: rgb(129, 179, 210);
	color: rgb(255, 255, 255);
}

.description-text p {
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}

.description-text p:last-child {
	margin: 0;
}

.description-text .title {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 26px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.description-city-img {
	width: 800px;
	height: 256px;
	background-image: url(../img/city.jpg);
	background-repeat: no-repeat;
	background-color: rgb(157, 120, 90);
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.description-sight-img {
	width: 800px;
	height: 256px;
	background-image: url(../img/sight.jpg);
	background-repeat: no-repeat;
	background-color: rgb(129, 82, 58);
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.beautification {
	background-color: rgb(255, 255, 255);
}

.beautification-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.beautification-item-house {
	width: 400px;
	padding: 0 70px;
	padding-top: 60px;
	padding-bottom: 81px;
}

.beautification-item-burger {
	width: 400px;
	padding: 0 55px;
	padding-top: 61px;
	padding-bottom: 81px;
}

.beautification-item-souvenirs {
	width: 400px;
	padding: 0 60px;
	padding-top: 56px;
	padding-bottom: 81px;
}

.beautification-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	margin: 0;
	margin-bottom: 25px;
	margin-top: 23px;
}

.beautification-list p {
	margin: 0;
	color: rgb(51, 51, 51);

}

.features {
	background-color: rgb(238, 238, 238);
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.feature-item {
	width: 400px;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 47px;
	padding-bottom: 60px;
}

.feature-item h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 24px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.feature-item p {
	color: rgb(51, 51, 51);
	margin: 0;
	margin-bottom: 20px;
}

.feature-item p:last-child {
	margin: 0;
}

/* Форма поиска и карта */

.booking {
	background-color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 50px;
}

.booking p {
	line-height: 24px;
	color: rgb(51, 51, 51);
	margin: 0;
	margin-bottom: 46px;
}

.booking .title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: rgb(0, 0, 0);
	margin-bottom: 25px;
}

.hotels-search {
	position: relative;
	margin: 0 auto;
	width: 568px;
}

.hotels-search-toggler {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	width: 100%;
	height: 86px;
	background-color: rgb(118, 99, 87);
	border: 0;
}

.hotels-search-toggler:hover,
.hotels-search-toggler:focus {
	background-color: rgb(96, 78, 67);
}

.hotels-search-toggler:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(80, 62, 51);
}

.form-container {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 700px;
	overflow: hidden;
	-webkit-transition: max-height 0.7s;
	-o-transition: max-height 0.7s;
	transition: max-height 0.7s;
	-webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
	        box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.form-container-hidden {
  max-height: 0;
}

.booking-form {
	width: 568px;
	padding: 55px;
	background-color: rgb(255, 255, 255);
}

.booking-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}

.booking-item input {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border: 0;
	background-color: rgb(242, 242, 242);
	font: inherit;
	text-transform: uppercase;
	padding: 6px 13px;
	height: 38px;
	outline: none;

}

.booking-item input:hover {
	background-color: rgb(235, 235, 235);
}

.booking-item input:focus {
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: inset 0 0 0 2px rgb(235, 235, 235);
	        box-shadow: inset 0 0 0 2px rgb(235, 235, 235);
}

.booking-form label {
	min-width: 112px;
}

.kids {
	text-align: right;
	padding-right: 27px;
}

.booking-counter-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.counter-value {
	display: block;
	width: 114px;
	text-align: center;
	background-color: rgb(242, 242, 242);
	padding: 6px 0;
}

.calendar-button {
	position: absolute;
	width: 21px;
	height: 22px;
	padding: 0;
	top: 9px;
	right: 9px;
	border: 0;
	outline: none;
	background-color: transparent;
	fill: rgb(202, 202, 202);
}

.calendar-button:hover,
.calendar-button:focus {
	fill: rgb(0, 0, 0);
}

.calendar-button:active {
	fill: rgb(129, 179, 210);
}

.counter {
	position: relative;
}

.counter-button {
	position: absolute;
	font: inherit;
	font-size: 24px;
	width: 38px;
	height: 38px;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: rgb(169, 169, 169);
	outline: none;
}

.counter-button:hover,
.counter-button:focus {
	color: rgb(0, 0, 0);
}

.counter-button:active {
	color: rgb(129, 179, 210);
}

.counter-minus {
	left: 0;
	top: 0;
}

.counter-plus {
	right: 0;
	top: 0;
}

.form-submit {
	width: 100%;
	border: 0;
	background-color: rgb(129, 179, 210);
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding: 16px;
	margin-top: 24px;
}

.form-submit:hover,
.form-submit:focus {
	background-color: rgb(102, 158, 192);
}

.form-submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}

.map-section iframe {
	width: 100%;
}

@-webkit-keyframes shake {
  0%, 100%                  {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90%   {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
  20%, 40%, 60%, 80%        {-webkit-transform: translateX(5px);transform: translateX(5px);}
}

@keyframes shake {
  0%, 100%                  {-webkit-transform: translateX(0);transform: translateX(0);}
  10%, 30%, 50%, 70%, 90%   {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
  20%, 40%, 60%, 80%        {-webkit-transform: translateX(5px);transform: translateX(5px);}
}

.form-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/* Подвал */

.main-footer {
	position: relative;
	margin-top: -120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer.footer-hotels {
	background-color: rgb(255, 255, 255);
	position: static;
	margin-top: 0;
}

.footer-item {
	width: 400px;
	min-height: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer-hashtag p {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin: 0;
}

.footer-social-list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
}

.social-button {
	display: block;
	background-color: rgb(129, 179, 210);
	margin-right: 6px;
}

.social-item:last-child a {
	margin: 0;
}

.social-button:hover,
.social-button:focus {
	background-color: rgb(102, 158, 192);
}

.social-button:active {
	background-color: rgb(84, 150, 189);
}

.social-button-twitter::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-button-facebook::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/facebook.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-button-youtube::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	margin: 0;
}

.social-button-twitter:active::before,
.social-button-facebook:active::before,
.social-button-youtube:active::before {
	opacity: 0.3;
}

.websiteby {
	line-height: 26px;
	margin-right: 8px;
}

.htmlacademy-logo{
	display: block;
	width: 115px;
	height: 41px;
	fill: rgb(0, 0, 0);
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
	fill: rgb(129, 179, 210);
}

.htmlacademy-logo:active {
	fill: rgb(189, 187, 188);
}

/* Фильтр */

.filter-form {
	background-image: url(../img/background-blur.jpg);
	background-repeat: no-repeat;
	background-position: center -56px;
  background-color: rgb(66, 84, 99);
	color: rgb(255, 255, 255);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter-list {
	width: 255px;
	padding-top: 27px;
	padding-bottom: 31px;
	padding-left: 71px;
}

.filter-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-list:nth-child(2) {
	margin-right: 300px;
}

.filter-title {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

.filter-item {
	position: relative;
	padding-left: 41px;
	margin-top: 25px;
}

.check-box {
	display: block;
	position: absolute;
	top: -1px;
	left: 1px;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.check-input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.check-input:checked + .check-box {
	background-image: url(../img/checkbox-on.svg);
}

.check-input:disabled + .check-box {
	background-image: url(../img/checkbox-off-disabled.svg);
}

.check-input:checked:disabled + .check-box {
	background-image: url(../img/checkbox-on-disabled.svg);
}

.check-input:focus + .check-box::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: white;
  top: 26px;
  opacity: 0.5;
}

.filter-price {
	width: 390px;
	padding-top: 27px;
	padding-right: 72px;
}

.filter-price-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	width: 318px;
	height: 36px;
	border: 2px solid white;
	border-radius: 2px;
	margin-top: 10px;
}

.filter-price-range::before {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	height: 22px;
	left: 157px;
	top: 5px;
	background-color: rgb(255, 255, 255);
}

.label-price-min {
  padding-left: 65px;
  margin-right: 4px;
}

.label-price-max {
  padding-left: 52px;
  margin-right: 4px;
}

.price-value-min {
	width: 72px;
	margin-right: 2px;
  background: transparent;
  border: 0;
  color: rgb(255, 255, 255);
  outline: none;
}
.price-value-max {
	width: 80px;
  background: transparent;
  border: 0;
  color: rgb(255, 255, 255);
  outline: none;
}

.slider-range {
	position: relative;
	width: 318px;
	height: 24px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.diapason {
	position: absolute;
	top: 10px;
	height: 2px;
	width: 317px;
	background-color: rgb(255, 255, 255);
	opacity: 0.3;
}

.current-range {
	position: absolute;
	left: 13px;
	top: 10px;
	height: 2px;
	width: 248px;
	background-color: rgb(255, 255, 255);
}

.range-point {
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	height: 24px;
	background-image: url(../img/range-point.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 20px 22px;
}

.range-point:last-of-type {
	left: auto;
	right: 44px;
}

.range-point:hover,
.range-point:focus {
	background-size: 22px 24px;
}

.filter-submit {
	display: block;
	font: inherit;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding: 5px 34px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 2px;
	margin-left: 85px;
	-webkit-transition: background-color 0.3s,
				color 0.3s;
	-o-transition: background-color 0.3s,
				color 0.3s;
	transition: background-color 0.3s,
				color 0.3s;
}

.filter-submit:hover,
.filter-submit:focus {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

/* Сортировка */

.filter-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 86px;
	background-color: rgb(255, 255, 255);
}

.sorting-sum {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin-left: 72px;
}

.sorting-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 48px;
	padding-top: 2px;
}

.sorting-options p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	margin-right: 40px;
}

.sorting-options a {
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	margin-right: 33px;
}

.option {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted rgb(129, 179, 210);
}

.option:hover,
.option:focus {
	color: rgb(129, 179, 210);
}

.option:active {
	color: rgb(0, 0, 0);
	border: none;
}

.option-active {
	color: rgb(129, 179, 210);
}

.sorting-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-right: 73px;
}

.icon-up {
	margin-right: 12px;
	fill: rgb(202, 202, 202);
}

.icon-up:hover,
.icon-up:focus {
	fill: rgb(0, 0, 0);
}

.icon-up:active {
	fill: rgb(129, 179, 210);
}

.icon-down {
	fill: rgb(202, 202, 202);
}

.icon-down:hover,
.icon-down:focus {
	fill: rgb(0, 0, 0);
}

.icon-down:active {
	fill: rgb(129, 179, 210);
}

.icon-active,
.icon-active:hover,
.icon-active:focus {
	fill: rgb(129, 179, 210);
}

/* Список отелей */

.hotels-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-item {
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(242, 242, 242);
}

.hotel-item:last-child {
	border-bottom: 1px solid rgb(242, 242, 242);
}

.hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 72px;
}

.hotel-img {
	width: 135px;
	height: 90px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.hotel-info {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding-top: 26px;
	padding-bottom: 30px;
	margin-left: 30px;
}

.hotel-info h3 {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	margin-bottom: 6px;
}

.hotel-name {
	color: rgb(0, 0, 0);
}

.hotel-name:hover,
.hotel-name:focus {
	color: rgb(129, 179, 210);
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.type,
.price {
	margin: 0;
	margin-bottom: 14px;
	color: rgb(51, 51, 51);
}

.type {
	width: 110px;
	margin-right: 6px;
}

.button {
	font: inherit;
	color: rgb(255, 255, 255);
	font-weight: 700;
}

.hotels-button-detail {
	background-color: rgb(129, 179, 210);
	padding: 3px 17px;
	margin-right: 6px;
}

.hotels-button-detail:hover,
.hotels-button-detail:focus {
	background-color: rgb(102, 158, 192);
}

.hotels-button-detail:active {
	background-color: rgb(84, 150, 189);
	color: rgba(255, 255, 255, 0.3);
}

.hotels-button-booking {
	background-color: rgb(118, 99, 87);
	padding: 3px 16px;
}

.hotels-button-booking:hover,
.hotels-button-booking:focus {
	background-color: rgb(96, 78, 67);
}

.hotels-button-booking:active {
	background-color: rgb(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.stars {
	margin-top: 29px;
}

.rating-stars {
	margin-left: 2px;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

.rating-value {
	margin: 0;
	margin-bottom: 30px;
	padding: 3px 14px;
	color: rgb(102, 102, 102);
	background-color: rgb(242, 242, 242);
}
