html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	background-color: rgb(242, 242, 242);
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.center {
	width: 1200px;
	margin: auto;
	box-shadow: 0 0 25px -5px grey;
}

/* Стили Header и Навигации */

.main-header {
	background-color: rgb(255, 255, 255);
}

.main-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 72px;
	position: relative;
}

.main-header-logo {
	position: absolute;
	left: 530px;
	top: -1px;
	width: 140px;
	height: 71px;
}

.site-navigation {
	display: flex;
	font-weight: 700;
	line-height: 26px;
	margin: 0;
	padding: 0;
	color: rgb(118, 99, 87);
	list-style: none;
}

.navigation-item {
	width: 240px;
	padding: 15px 0;
}

.navigation-item:nth-of-type(2),
.navigation-item:nth-of-type(3) {
	flex-grow: 1;
}

.navigation-item:nth-of-type(3),
.navigation-item:nth-of-type(4) {
	text-align: right;
}

.navigation-item a {
	color: rgb(0, 0, 0);
}

.navigation-item a:hover,
.navigation-item a:focus {
	color: rgb(129, 179, 210);
}

.navigation-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

/* Стили Главных блоков */

.welcome .welcome-bg {
	width: 1200px;
	height: 508px;
	background-image: url("../img/polygon.svg"), url("../img/welcome.svg"), url("../img/background.jpg");
	background-position: 0px 450px, 370px 76px, center -56px;
	background-size: 1200px 59px, 459px 353px, 100%;
	background-repeat: no-repeat;
	background-color: rgb(242, 242, 242);
}

.welcome .text-block {
	padding-top: 61px;
	padding-bottom: 50px;
	background-color: rgb(255, 255, 255);
}

.welcome p {
	line-height: 26px;
	text-align: center;
	color: rgb(51, 51, 51);
	margin: 0px;
}

.welcome .title {
	font-size: 21px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	margin-bottom: 27px;
}

.description {
	display: flex;
}

.description-text {
	width: 400px;
	padding: 47px 30px;
	background-color: rgb(129, 179, 210);
	color: rgb(255, 255, 255);
}

.description-text p {
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}

.description-text p:last-child {
	margin: 0;
}

.description-text .title {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 26px;
}

.description-city-img {
	width: 800px;
	height: 256px;
	background-image: url(../img/city.jpg);
	background-repeat: no-repeat;
	background-color: rgb(242, 242, 242);
	align-self: center;
}

.description-sight-img {
	width: 800px;
	height: 256px;
	background-image: url(../img/sight.jpg);
	background-repeat: no-repeat;
	background-color: rgb(242, 242, 242);
	align-self: center;
}

.beautification {
	background-color: rgb(255, 255, 255);
}

.beautification-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.beautification-item-house {
	width: 400px;
	padding: 0 70px;
	padding-top: 60px;
	padding-bottom: 81px;
}

.beautification-item-burger {
	width: 400px;
	padding: 0 55px;
	padding-top: 61px;
	padding-bottom: 81px;
}

.beautification-item-souvenirs {
	width: 400px;
	padding: 0 60px;
	padding-top: 56px;
	padding-bottom: 81px;
}

.beautification-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	margin: 0;
	margin-bottom: 25px;
	margin-top: 23px;
}

.beautification-list p {
	margin: 0;
	color: rgb(51, 51, 51);

}

.features {
	background-color: rgb(238, 238, 238);
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

.feature-item {
	width: 400px;
	padding-left: 65px;
	padding-right: 65px;
	padding-top: 47px;
	padding-bottom: 60px;
}

.feature-item h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 24px;
}

.feature-item p {
	color: rgb(51, 51, 51);
	margin: 0;
	margin-bottom: 20px;
}

.feature-item p:last-child {
	margin: 0;
}

.booking {
	background-color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 50px;
}

.booking p {
	line-height: 24px;
	color: rgb(51, 51, 51);
	margin: 0;
	margin-bottom: 46px;
}

.booking .title {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: rgb(0, 0, 0);
	margin-bottom: 25px;
}

.hotel-search-button {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	width: 568px;
	height: 86px;
	background-color: rgb(118, 99, 87);
	border: 0;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
	background-color: rgb(96, 78, 67);
}

.hotel-search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(80, 62, 51);
}

/* Форма поиска и карта */



.booking-form {
	width: 568px;
	margin: 0 auto;
	padding: 55px;
	background-color: rgb(255, 255, 255);
}

.booking-item {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}

.booking-item input {
	flex-grow: 1;
	border: 0;
	background-color: rgb(242, 242, 242);
	font: inherit;
	text-transform: uppercase;
	padding: 6px 13px;
	height: 38px;
	outline: none;

}

.booking-item input:hover {
	background-color: rgb(235, 235, 235);
}

.booking-item input:focus {
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0 0 0 2px rgb(235, 235, 235);
}

.booking-form label {
	min-width: 112px;
}

.kids {
	text-align: right;
	padding-right: 27px;
}

.booking-counter-row {
	display: flex;
	justify-content: space-between;
}

.counter-value {
	display: block;
	width: 114px;
	text-align: center;
	background-color: rgb(242, 242, 242);
	padding: 6px 0;
}

.calendar-button {
	position: absolute;
	width: 21px;
	height: 22px;
	padding: 0;
	top: 9px;
	right: 9px;
	border: 0;
	outline: none;
	background-color: transparent;
	background-image: url(../img/calendar.svg);
	background-repeat: no-repeat;
}

.calendar-button:hover,
.calendar-button:focus {
	background-image: url(../img/calendar-hover.svg);
}

.calendar-button:active {
	background-image: url(../img/calendar-active.svg);
}

.counter {
	position: relative;
}

.counter-button {
	position: absolute;
	font: inherit;
	font-size: 24px;
	width: 38px;
	height: 38px;
	padding: 0;
	border: 0;
	background-color: transparent;
	color: rgb(169, 169, 169);
	outline: none;
}

.counter-button:hover,
.counter-button:focus {
	color: rgb(0, 0, 0);
}

.counter-button:active {
	color: rgb(129, 179, 210);
}

.counter-minus {
	left: 0;
	top: 0;
}

.counter-plus {
	right: 0;
	top: 0;
}

.booking-button {
	width: 100%;
	border: 0;
	background-color: rgb(129, 179, 210);
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	padding: 16px;
	margin-top: 24px;
}

.booking-button:hover,
.booking-button:focus {
	background-color: rgb(102, 158, 192);
}

.booking-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: rgb(84, 150, 189);
}

/* Стили подвала */

.main-footer {
	display: flex;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer.footer-hotels {
	background-color: rgb(255, 255, 255);
}

.footer-item {
	width: 400px;
	min-height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-hashtag p {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin: 0;
}

.footer-social-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.social-button {
	display: block;
	background-color: rgb(129, 179, 210);
	margin-right: 6px;
}

.social-item:last-child a {
	margin: 0;
}

.social-button:hover,
.social-button:focus {
	background-color: rgb(102, 158, 192);
}

.social-button:active {
	background-color: rgb(84, 150, 189);
}

.social-button-twitter::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-button-facebook::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/facebook.svg);
	background-repeat: no-repeat;
	background-position: 50%;
}

.social-button-youtube::before {
	content: "";
	display: block;
	width: 46px;
	height: 48px;
	background-image: url(../img/youtube.svg);
	background-repeat: no-repeat;
	background-position: 50%;
	margin: 0;
}

.social-button-twitter:active::before,
.social-button-facebook:active::before,
.social-button-youtube:active::before {
	opacity: 0.3;
}

.websiteby {
	line-height: 26px;
	margin-right: 8px;
}

.htmlacademy-logo{
	display: block;
	width: 115px;
	height: 41px;
	background-image: url(../img/htmlacademy-logo.svg);
	background-repeat: no-repeat;
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
	background-image: url(../img/htmlacademy-logo-hover.svg);
}

.htmlacademy-logo:active {
	background-image: url(../img/htmlacademy-logo-active.svg);
}

/*---Стили Отелей---*/

.hotels-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-item {
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(242, 242, 242);
}

.hotel-item:last-child {
	border-bottom: 1px solid rgb(242, 242, 242);
}

.hotel {
	display: flex;
	padding: 0 72px;
}

.hotel-img {
	width: 135px;
	height: 90px;
	align-self: center;
}

.hotel-info {
	flex-grow: 1;
	padding-top: 26px;
	padding-bottom: 30px;
	margin-left: 30px;
}

.hotel-info h3 {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	margin-bottom: 6px;
}

.hotel-name {
	color: rgb(0, 0, 0);
}

.hotel-name:hover,
.hotel-name:focus {
	color: rgb(129, 179, 210);
}

.hotel-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.row {
	display: flex;
}

.type,
.price {
	margin: 0;
	margin-bottom: 14px;
	color: rgb(51, 51, 51);
}

.type {
	width: 110px;
	margin-right: 6px;
}

.button {
	font: inherit;
	color: rgb(255, 255, 255);
	font-weight: 700;
}

.hotels-button-detail {
	background-color: rgb(129, 179, 210);
	padding: 3px 17px;
	margin-right: 6px;
}

.hotels-button-detail:hover,
.hotels-button-detail:focus {
	background-color: rgb(102, 158, 192);
}

.hotels-button-detail:active {
	background-color: rgb(84, 150, 189);
	color: rgba(255, 255, 255, 0.3);
}

.hotels-button-booking {
	background-color: rgb(118, 99, 87);
	padding: 3px 16px;
}

.hotels-button-booking:hover,
.hotels-button-booking:focus {
	background-color: rgb(96, 78, 67);
}

.hotels-button-booking:active {
	background-color: rgb(80, 62, 51);
	color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.stars {
	margin-top: 29px;
}

.rating-stars {
	margin-left: 2px;
	box-sizing: content-box;
}

.rating-value {
	margin: 0;
	margin-bottom: 30px;
	padding: 3px 14px;
	color: rgb(102, 102, 102);
	background-color: rgb(242, 242, 242);
}